@import 'variables';

.game-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.player--1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.player--2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.player--3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.player--self {
    grid-column-start: 2;
    grid-row-start: 3;
}

.game-table__board {
    grid-column-start: 2;
    grid-row-start: 2;
}

.game-room__id {
   color: $color-text;
   text-align: right;
   margin: 1rem 1rem 0;
}