@import 'variables';

.player__hand {
    display: flex;
    margin-top: 1rem;
    flex-basis: 100%;
}

.player__card {
    border: 1px solid rgba($color-text, 0.08);
    transition: all .25s ease-in-out;
    cursor: pointer;
    font-size: $font-size-20;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.25rem 1rem;

    &:hover {
        border-color: $color-text;
        transform: translateY(-2px);
    }
}

.card__suit {
    width: 35px;
    height: 35px;
    margin-top: 0.5rem;
}

.icon__spade {
    height: 42px;
}

.icon-club,
.icon-spade {
    fill: $color-text;
    transition: all .25s ease-in-out;

    .player__card:hover & {
        fill: mix($color-text, $color-black, 10%);
    }
}

.icon-diamond,
.icon-heart {
    fill: $color-brand-flamingo-red;
    transition: all .25s ease-in-out;

    .player__card:hover & {
        fill: mix($color-text, $color-brand-flamingo-red, 10%);
    }
}